.testimonials {
    padding-top: 60px;
}

@media (max-width: 768px) {
    .testimonials {
        padding-top: 40px;
    }
}

.testimonials .container {
    max-width: 100%;
}

.testimonials-item {
    /*background-color: #F2F8FF;*/
    padding: 30px;
    border-radius: 25px;
    background-color: #FFFFFF;
    border: 1px solid #F1F5F9;
    /*box-shadow: 0 8px 40px rgba(0,0,0,.04); */
}   

.testimonials-item .info {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

.testimonials-item .user-info {
    display: flex;
    align-items: center;
}

.testimonials-item .user {
    max-width: 45px;
    margin-right: 15px;
    vertical-align: middle;
}

.testimonials-item .name {
    font-size: 16px;
    font-weight: 700;
    color: #494949;
}

.testimonials-item .date {
    color: #747474;
    font-size: 14px;
}

.testimonials-item p {
    margin-top: 20px;
    color: #494949;
    height: 80px;
    font-size: 15px;
}

.testimonials-item .rating {
    display: flex;
}

.testimonials-item .start {
    margin-right: 4px;
}

.rating-container {
    display: flex;
    justify-content: space-between; /* Coloca los elementos en los extremos */
    align-items: center; /* Centrar verticalmente */
    margin-top: 15px;
}

/* Swiper */
.testimonials .swiper-pagination {
    position: relative;
    margin-top: 40px;
    margin-bottom: 40px;
    bottom: auto;
}

@media (max-width: 768px) {
    .testimonials .swiper-pagination {
        margin-top: 30px;
    }
}

.testimonials .swiper-pagination-bullet {
    height: 10px;
    width: 10px;
    background-color: #0364FF;
    transition: width .3s;
}

.testimonials-content .swiper-pagination .swiper-pagination-bullet-active {
    width: 35px;
    border-radius: 50px;
}

/* 
.testimonials-content .swiper-pagination span {
    background-color: #F2F8FF;
    transition: width .3s;
    opacity: 1;
}

.testimonials-content .swiper-pagination .swiper-pagination-bullet-active {
    width: 35px;
    height: 10px;
    border-radius: 50px;
    background-color: #0364FF;
} 
*/